In [2]:
import pandas as pd
dic = {'users' : ['A','A','B','A','A','B','A','A','A','A','A','B','A'],
            'product' : [1,1,2,2,1,2,1,2,1,1,2,1,1],
            'action' : ['see', 'see', 'see', 'see', 'buy', 'buy', 'see', 'see', 'see', 'see', 'buy', 'buy', 'buy']
    }

df = pd.DataFrame(dic, columns=dic.keys())

df

   users  product action
0      A        1    see
1      A        1    see
2      B        2    see
3      A        2    see
4      A        1    buy
5      B        2    buy
6      A        1    see
7      A        2    see
8      A        1    see
9      A        1    see
10     A        2    buy
11     B        1    buy
12     A        1    buy

In [7]:
addkey=df.groupby(['users','product']).action.apply(lambda x : x.eq('buy').shift().fillna(0).cumsum())
df['seebefore']=df.action.eq('see').groupby([df.users,df['product'],addkey]).cumsum()
df

   users  product action  seebefore
0      A        1    see        1.0
1      A        1    see        2.0
2      B        2    see        1.0
3      A        2    see        1.0
4      A        1    buy        2.0
5      B        2    buy        1.0
6      A        1    see        1.0
7      A        2    see        2.0
8      A        1    see        2.0
9      A        1    see        3.0
10     A        2    buy        2.0
11     B        1    buy        0.0
12     A        1    buy        3.0